@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Bebas+Neue&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1500px;
  max-width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
a,
img,
li {
  margin: 0;
  padding: 0;
}

nav a {
  font-family: "Bebas Neue", cursive;
  font-size: 1.15rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
}

.title h1,
.title h2 {
  font-size: 5rem;
  text-shadow: 0.1rem 0.1rem #b0976d;
}

h2 {
  font-size: 4.25rem;
}

.overlayText {
  text-align: center;
}
.overlayText h3 {
  color: #b0976d;
  font-size: 5vw;
  text-shadow: 0.05rem 0.05rem #ffffff;
}

.navBar {
  z-index: 10;
}
.navBar a {
  text-decoration: none;
  color: #ffffff;
}
.navBar--navMain {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.navBar--navMenu {
  margin-top: 0.75rem;
  display: flex;
  background: #6f4e37;
}
.navBar--navMenu > li {
  flex: 1 1 auto;
  padding: 0.5rem 1rem;
}
.navBar li:hover, .navBar li:focus-within {
  background: #554c4a;
}
.navBar--navSubHeading {
  position: relative;
}
.navBar--navSubHeading:hover > ul, .navBar--navSubHeading:focus-within > ul {
  visibility: visible;
}
.navBar--navSub {
  background: #6f4e37;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
}
.navBar--navSub li {
  text-align: center;
  padding: 1rem 0.2rem;
}

.homeContent--about {
  background: #465a70;
  color: #ffffff;
}
.homeContent a {
  display: inline-block;
  margin: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  background: #b0976d;
  padding: 0.5rem;
  text-transform: uppercase;
}
.homeContent p {
  padding: 1rem 0;
  line-height: 1.25rem;
}
.homeContent--menu {
  text-align: center;
}
.homeContent .flexParent {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.homeContent--menuGallery {
  display: flex;
  flex-flow: row wrap;
}
.homeContent--menuGallery .menuItem {
  flex: 2 2 50%;
}
.homeContent--menuGallery .menuItem img {
  max-height: 25rem;
  width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.homeContent--menuGallery .menuContainer {
  position: relative;
  padding: 1rem;
}
.homeContent--menuGallery .overlayText {
  padding: 2rem;
  position: absolute;
  z-index: 2;
  top: calc(40% - 3rem);
  left: auto;
  right: auto;
  visibility: hidden;
  overflow: hidden;
}
.homeContent--menuGallery .menuItem:hover img,
.homeContent--menuGallery .menuItem:focus-within img {
  filter: grayscale(100) blur(3px);
}
.homeContent--menuGallery .menuItem:hover .overlayText,
.homeContent--menuGallery .menuItem:focus-within .overlayText {
  visibility: visible;
  overflow: visible;
}
.homeContent--testimonials {
  background: #6f4e37;
  color: #ffffff;
}
.homeContent--testimonials h2 {
  text-shadow: 0.25rem 0.25rem #554c4a;
}
.homeContent--testimonials .commentContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.homeContent--testimonials .testimony {
  width: 75%;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
.homeContent--testimonials .testimony:nth-of-type(2) {
  align-self: flex-end;
}
.homeContent--testimonials .comment {
  position: relative;
}
.homeContent--testimonials .comment p {
  font-style: italic;
  letter-spacing: 0.2rem;
  line-height: 1.25rem;
}
.homeContent--testimonials .comment::before, .homeContent--testimonials .comment::after {
  font-family: serif;
  font-size: 2rem;
  position: absolute;
}
.homeContent--testimonials .comment::before {
  content: "“";
  top: 0;
  left: 0;
}
.homeContent--testimonials .comment::after {
  content: "”";
  right: 0;
  bottom: 0;
}
.homeContent--testimonials .signature {
  align-self: flex-end;
  font-weight: 600;
}
.homeContent--hours {
  text-align: center;
}
.homeContent--hours .intro {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5rem;
}
.homeContent--hours ul p {
  padding: 0.5rem 0;
}
.homeContent--hours .day {
  font-family: "Bebas Neue", cursive;
}
.homeContent--hours .disclaimer {
  font-style: italic;
  font-weight: 600;
}
.homeContent--hours .disclaimer span {
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
}
.homeContent--dividerBlock {
  height: 25vh;
  background: url(../assets/barista.jpg) center/cover;
}

.title {
  margin: 12rem 2rem;
  text-align: center;
}

section {
  padding: 3rem 0;
}

footer {
  background: #554c4a;
  text-align: center;
  padding: 1.5rem;
  color: #ffffff;
  font-family: "Bebas Neue", cursive;
  font-size: 1.75rem;
}/*# sourceMappingURL=App.css.map */