@import "./partials/setup";
@import "./partials/vars";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/homePage.scss";

.title {
    margin: 12rem 2rem;
    text-align: center;
}

section {
    padding: 3rem 0;
}

footer {
    background: $greyBrown;
    text-align: center;
    padding: 1.5rem;
    color: $white;
    font-family: $accentFont;
    font-size: 1.75rem;
}
