nav {
    .navFlex {
        z-index: 10;
        position: relative;
        display: flex;
        margin-top: 1rem;
        align-items: flex-start;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    .navMain {
        background: $coffeeBrown;
        display: flex;
        > li {
            flex: 1 1 auto;
            padding: 0.5rem 1rem;
        }
        li:hover {
            background: $greyBrown;
        }
        .navSubHeading {
            position: relative;
            &:hover .navSub {
                visibility: visible;
            }
        }
    }
    .navSub {
        background: $coffeeBrown;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        overflow: hidden;
        li {
            text-align: center;
            padding: 1rem 0.2rem;
        }
    }
}
