@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Bebas+Neue&display=swap");

// fonts
$bodyFont: "Roboto", sans-serif;
$accentFont: "Bebas Neue", cursive;

// colors
$gold: #b0976d;
$greyBrown: #554c4a;
$coffeeBrown: #6f4e37;
$lightPaleBlue: #f0f0f3;
$paleBlue: #8499b1;
$darkPaleBlue: #465a70;
$white: #ffffff;
